<div class="new_product_component">
    <div class="add_new_product_form">
        <h3>Produs Nou</h3>
        <div class="wrapper">

            <form>
                <div class="form-group">
                    <label for="product_name">Nume:</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04">
                        <option selected>Selecteaza o categorie</option>
                        <option value="1">Operating System</option>
                        <option value="2">Movies</option>
                        <option value="3">Games</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</div>