.new_product_component {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, 0.5);
    .add_new_product_form {
        width: 400px;
        height: 300px;
        padding: 20px;
        margin: 0 auto;
        background: white;
        color: black;
        margin-top: 100px;
        border-radius: 5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        h3 {
            text-align: center;
        }
        .buttons_container {
            margin: 10px;
        }
    }
}