<div class="tree_view_component" *ngIf="data.length">
    <div *ngFor="let category of data" class="category_row">
        <div class="parent_data">
            <div>ID: {{category.code}}</div>
            <div>{{category.name}}</div>
            <div>
                <button class="btn btn-primary" (click)="openAddSubCategoryModal(category.code)">Add Sub Category</button>
                <button class="btn btn-warning" type="button" class="btn btn-warning" (click)="editCategory(category.code, category.name)">Edit Category</button>
                <button class="btn btn-danger" (click)="deleteCategory(category.code)">Delete Category</button>
            </div>
        </div>
        <div *ngIf="modalVisible" class="modall_container">
            <div class="modall" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit category</h5>
                            <button type="button" class="close" (click)="closeModal()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="product_name">Category name:</label>
                                    <input name="newSubCategoryName" [(ngModel)]="newSubCategoryName" type="text" class="form-control" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
                            <button type="button" class="btn btn-primary" (click)="saveChanges()">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="addSubCategoryModalVisible" class="modall_container">
                <div class="modall" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add subcategory</h5>
                                <button type="button" class="close" (click)="saveSubcategoryChanges()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="product_name">Subcategory name:</label>
                                        <input name="addNewSubcategoryModal" [(ngModel)]="addNewSubcategoryModal" type="text" class="form-control" />
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" (click)="closeAddSubcategoryModal()">Close</button>
                                <button type="button" class="btn btn-primary" (click)="saveSubcategoryChanges()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <app-category-tree *ngIf="category.children!=undefined" [data]="category.children"></app-category-tree>
    </div>
</div>