<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-success text-white">
    <div class="navbar-brand text-white">
        <a [routerLink]="['/']"  class="text-white">AccountantApp</a>
    </div>
    <div class="nav-item">
      <a [routerLink]="['/products']"  class="text-white">Produse</a>
    </div>
    <div class="nav-item">
      <a [routerLink]="['/categories']" class="text-white">Categorii</a>
    </div>
    <div class="nav-item">
      <a [routerLink]="['/invoices']" class="text-white">Facturi</a>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
     <router-outlet></router-outlet>
    </div>
  </div>
</div>